@import './basik/index';
@import './customize/index';
@import './blocks/index';

//first-screen

.first-screen{
  background: url("../img/first-screen/first-screen.png") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 90vh;
}