$black: #22262A;
$white: #fff;
$back: #E5E5E5;
$footer: #E7F5F8;
$links: #28636d;
$red: #FF0000FF;




$xxl-min: 1920px;
$xl-max: 1919px;
$xl-min: 1366px;
$lg-max: 1365px;
$lg-min: 1200px;
$md-max: 1199px;
$md-mid: 992px;
$md-min: 800px;
$sm-max: 799px;
$sm-min: 576px;
$xs-max: 575px;
$ss-min: 400px;
